.chart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chart-container::-webkit-scrollbar {
  display: none;
}
.chart-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.years-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-div {
  margin: 0.6rem 0.6rem;
  color: rgb(245, 245, 245, 0.8);
}

.framework-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.row-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  width: 500px;
}

.name-div-left, .name-div-right {
  position: relative;
  display: flex;
  flex: 1;
  font-size: 15px;
}

.name-div-left{
  justify-content:flex-start;
}
.name-div-right{
  justify-content: flex-end;
}

.line-div {
  flex: 1;
  position: absolute;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  z-index: -10;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: auto;
}

/* skapar cirkelformen i chart-cell elementet: */
.data {
  background-color: #1f1e1e;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0rem 0.7rem;
  color: white;
  font-weight: lighter;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: relative;
}

.empty {
  border-radius: 50%;
  border: 2px solid transparent !important;
  margin: 0rem 0.7rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  position: relative;
}

@media (max-width: 650px) {
  .chart-container {
    width: 350px;
    overflow: auto;
    white-space: nowrap;
    padding-left: 10rem;
  }

  .row-div {
    width: 500px;
  }
} 
