.chart-container {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 650px;
  overflow: auto;
  white-space: nowrap;
  padding-left: 1rem;
}

.chart-container::-webkit-scrollbar {
  display: none;
}
.chart-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.years-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-div {
  margin: 0.5rem 0.7rem;
  color: rgb(245, 245, 245, 0.8);
}

.framework-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding-top: 0.8rem;
  padding-bottom: 0.5rem;
}

.line-div {
  position: absolute;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  z-index: -10;
}

/* jag förstår att denna lösningen att sätta en fast vidd för att få namnen att hamna utanför linjen
INTE är en optimal lösning för om tex man utökar med mer data så måste man gå in och öka denna vidd.  */
.spacer {
  position: relative;
  width: 13rem;
}

.name-div {
  flex: 1;
  text-align: center;
  margin: 0rem 0.5rem;
  position: relative;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* skapar cirkelformen i chart-cell elementet: */
.data {
  background-color: #1f1e1e;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0rem 0.9rem;
  color: white;
  font-weight: lighter;
  font-size: smaller;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: relative;
}

.empty {
  border-radius: 50%;
  border: 2px solid transparent !important;
  margin: 0rem 0.9rem;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  position: relative;
}

@media (max-width: 1040px) {
  .chart-container {
    width: 550px;
    padding-left: 2rem;
  }

  .spacer {
    width: 13rem;
  }
}

@media (max-width: 768px) {
  .chart-container {
    width: 300px;
  }
  .spacer {
    width: 7rem;
  }
  .data,
  .empty {
    margin: 0rem 0.22rem;
    width: 25px;
    height: 25px;
  }

  .year-div {
    margin: 0.3rem;
    font-size: 10px;
  }

  .name-div,
  .data {
    font-size: 10px;
  }
}

@media (max-height: 550px) {
  .chart-container {
    padding-top: 12rem;
  }
}
