header{
    background-color: rgb(16, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#1f1e1e;
    position: relative;
    z-index: 1;
}

.h1-div{
    margin: 1rem;
    color: #ffffff;
}

.years-div{
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.year-text{
  flex-grow: 1; 
  margin: 18px;
  color: #ffffff;
}

.name-div-left{
    padding: 1rem;
    margin-right: 300px;
  position: relative; 
}


.name-div-right{
    padding: 1rem;
    margin-left: 200px;
    position: relative; 
}

.row-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .line-div {
    position: absolute;
    height: 3px;
    width: 500px;
    display: flex;
    align-items: center; 
    border-radius: 2px;
    z-index: -10;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    position: relative;
  }

  .data {
    background-color:#1f1e1e;
    border-radius: 50%;
    border: 3px solid white;
    padding: 0;
    margin: 1rem;
    color: white; 
    font-weight: lighter;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: relative;
  }

  .empty {
    border-radius: 50%;
    border: 2px solid transparent !important;
    padding: 0;
    margin: 1rem;
    color: white; 
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: relative;
  }

  /* allt som har  med footer att göra */
  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080808;
  }

  .footer-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  footer a{
    padding: 0.7rem 1.2rem;
    margin: 1rem;
    background-color: black;
    color: white;
  }

  /* delade regler */
  a{
    text-decoration: none;
  }
  
  h1, h2, h3, h4, p, text, b, a{
    font-family: "Bebas Neue", "IBM Plex Mono", monospace;
  }

  @media screen and (max-width: 768px) {
   
 

  }
  
  @media screen and (max-width: 480px) {
 
  .year-text{
      margin: 2px;
      font-size: small;
  }
  
  .name-div-left{
      padding: 0.5rem;
      margin-right: 120px;
  }
  
  .name-div-right{
      padding: 0.5rem;
      margin-left: 70px;
  }
   
    .line-div {
      height: 2px;
      width: 210px;
    }
    
    .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      width: 100%;
      position: relative;
    }
  
    .data {
      margin: 0.2rem;
      font-size: 8px;
      width: 30px;
      height: 30px;
      position: relative;
    }
  
    .empty {
      margin: 0.2rem;
      font-size: 8px;
      width: 30px;
      height: 30px;
      position: relative;
    }

    footer a{
      padding: 0.2rem;
      margin: 0.3rem;
    }

  }