<header>
<h1 class="h1-div">State of Javascript</h1>
</header>
<main>
        <div  class="years-div" data-cy="chart-header">
          <div class="year-text"></div>
          <div *ngFor="let year of getUniqueYears()">
            <h4 class="year-text">{{year}}</h4>
          </div>
          <div class="year-text"></div>
        </div>
      
        <div *ngFor="let framework of frameworkData">
      
          <div class="row-div" data-cy="chart-row">
      
            <div class="name-div-left"  data-cy="chart-cell" [style.color]="framework.color">
              <h4>{{ framework.name }}</h4>
            </div>
      
              <div class="line-div" data-cy="row-line" [style.backgroundColor]="framework.color" >
      
                <div class="flex-container">
                  <div
                  *ngFor="let year of getUniqueYears(); let i = index"
                  [ngClass]="{'data':getSurveyOfYear(year, framework, dataType) !== null, 'empty': getSurveyOfYear(year, framework, dataType) === null}"
                  data-cy="chart-cell"
                  [style.borderColor]="framework.color"
                >
                <div *ngIf="getSurveyOfYear(year, framework, dataType) !== null"
                data-cy="chart-circle"
                class="chart-circle"
                [style.color]="framework.color"
              >{{getSurveyOfYear(year, framework, dataType)}}</div>
          </div>
        </div>
      </div>
      
            <div class="name-div-right"  data-cy="chart-cell"  [style.color]="framework.color">
              <h4>{{ framework.name }}</h4>
            </div>
      
          </div>
        </div>
</main>
<footer>
    <div class="footer-container">
        <nav>
            <a routerLink="/retention" routerLinkActive="active-link">Retention</a>
            <a routerLink="/interest" routerLinkActive="active-link">Interest</a>
            <a routerLink="/usage" routerLinkActive="active-link">Usage</a>
            <a routerLink="/awareness" routerLinkActive="active-link">Awareness</a>
        </nav>
    </div>
</footer>
