<div class="view-container">
  <header>
    <h1 class="h1-div">State of Javascript</h1>
  </header>
  <main>
    <!-- router outlet istället för chart component, annars är inte chart component beroende av 
            en ny url. nu säger vi: när url ändras så ska visa relevanta componenten så nu är chart comopnent beroende
        av url:en som det ska vara -->
    <router-outlet></router-outlet>
  </main>
  <footer>
    <nav>
      <a routerLink="/retention" routerLinkActive="active-link">Retention</a>
      <a routerLink="/interest" routerLinkActive="active-link">Interest</a>
      <a routerLink="/usage" routerLinkActive="active-link">Usage</a>
      <a routerLink="/awareness" routerLinkActive="active-link">Awareness</a>
    </nav>
  </footer>
</div>
