<app-common-layout>
  <!-- Specifikt innehåll för RetentionComponent -->

  <div  class="years-div">
    <div *ngFor="let year of years">
      <h4 class="year-text">{{year}}</h4>
    </div>
  </div>


 
  <div *ngFor="let framework of retentionData">

    <div class="row-div" data-cy="chart-row">

      <div class="name-div-left">
        <h4>{{ framework.name }}</h4>
      </div>


        <div class="line-div"  *ngFor="let survey of framework.surveys; let i = index"
        [style.--position]="i / (framework.surveys.length - 1)"
      >

          <div class="data" data-cy="chart-cell">{{survey.retention}}</div>

        </div> 

      <div class="name-div-right">
        <h4>{{ framework.name }}</h4>
      </div>

    </div>
  </div>
</app-common-layout>
