<app-common-layout>
  <!-- Specifikt innehåll för RetentionComponent -->

  <div  class="years-div">
    <div *ngFor="let year of years">
      <h4 class="year-text">{{year}}</h4>
    </div>
  </div>

  <div *ngFor="let framework of retentionData">

    <div class="row-div" data-cy="chart-row">

      <div class="name-div-left">
        <h4>{{ framework.name }}</h4>
      </div>

        <div class="line-div"  *ngFor="let year of years; let i = index">

          <div [ngClass]="{'data': getSurveyOfYear(year, framework) !== null, 'empty': getSurveyOfYear(year, framework) === null}"
       data-cy="chart-cell"
       [style.left.%]="(i / (years.length - 1)) * 87">
              {{getSurveyOfYear(year, framework)}}
             </div>

        </div> 

      <div class="name-div-right">
        <h4>{{ framework.name }}</h4>
      </div>

    </div>
  </div>
</app-common-layout>
